.homepage-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // margin-left: 2vw;
    // margin-right: 2vw;
}

.row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
}

.recipe-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 2vw;
    padding: 1vw;
    height: 75vh;
    width: 95vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.recipe-suggestions {
    gap: 1vw;
    padding-top: 2vw;
    padding-left: 0.5vw;
    padding-bottom: 2vw;
    padding-right: 1vw;
    overflow: visible;
}