.homepage-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2vw;
    margin-right: 2vw;
}

.row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
}

.recipe-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 2vw;
    padding: 1vw;
    width: 95vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.recipe-suggestions {
    gap: 1vw;
    padding-top: 2vw;
    padding-left: 0.5vw;
    padding-bottom: 2vw;
    padding-right: 1vw;
    overflow: visible;
}

.homepage-day {
    margin: 1vw;
    animation-name: fade-in;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 33vw;
    // margin: 2vw;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 2px 3px 0px grey;
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: 0px 2px 5px 2px grey;
    }
}