.homepageMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2vw;
    margin-right: 2vw;
}

.row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
}

.recipeCards {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2vw;
    height: 80vh;
    width: 80vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.recipeSuggestions {
    gap: 1vw;
    padding-top: 2vw;
    padding-left: 0.5vw;
    padding-bottom: 2vw;
    padding-right: 1vw;
}