.homepageMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2vw;
    margin-right: 2vw;
}

.row {
    display: flex;
    flex-direction: row;
}

.recipeCards {
    justify-content: space-evenly;
    gap: 2vw;
}

.recipeSuggestions {
    gap: 1vw;
}