.recipe-book-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    margin-left: 2vw;
    margin-right: 2vw;
}

.add-button {
    background-color: #FECD45;
    color: #2568FB;
    border-radius: 50%;
    border: none;
    width: auto;
    height: auto;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 2px 3px 0px grey;
    transition: all 0.3s;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 3px 0px grey;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 2px 3px 0px grey;
    }
}

.recipe-list {
    list-style: none;
    margin-left: 0;
}

.title {
    font-size: calc(12px + 2vw);
}

.subtitle {
    font-size: 1.5rem;
}

.searchbar {
    border-radius: 12px;
    border: none;
    width: 20vw;
    padding: 0.75vw;
    box-shadow: 0px 0px 3px 0px;
    &:focus {
        border-color: #2568FB;
    }
}

.searchbar-button {
    position: absolute;
    right: 0px;
    border-radius: 12px;
    border: none;
    width: 6vw;
    padding: 0.75vw;
    box-shadow: 0px 0px 3px 0px grey;
    background-color: #FECD45;
    color: #2568FB;
    transition: all 0.3s;
    &:hover {
        background-color: #deb137;
    }
}

@media  screen and (max-width: 500px) {
    // .title {
    //     font-size: 1.5rem;
    // }

    .subtitle {
        font-size: 1rem;
    }

    .add-button {
        width: auto;
        height: auto;
        // padding: 1vw;
    }
}