.add-item-input {
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    border-radius: 3px;
    transition: border-bottom-color 0.5s transform 0.5s;
    text-align: center;
    &:focus {
        border-top: 0ch;
        border-left: 0ch;
        border-right: 0ch;
        border-bottom-color: #FECD45;
        outline: none;
        transform: scale(1.2);
    }
}

.add-item-button {
    border: none;
    border-radius: 12px;
    background-color: #FECD45;
    color: #2568FB;
    font-size: 15px;
    cursor: pointer;
    width: 7vw;
    padding: 0.25vw;
    transition: all 0.3s;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 5px 3px 0px grey;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 2px 3px 0px grey;
    }
}

.remove-item-button {
    border: none;
    border-radius: 50%;
    background-color: #FECD45;
    color: #2568FB;
    font-size: 15px;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    padding: 0.25vw;
    transition: all 0.3s;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 4px 3px 0px grey;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 2px 3px 0px grey;
    }
}

.grocery-list-item {
    animation-name: slide-from-left;
    animation-duration: 0.5s;
    display: flex;
    padding: 1vw;
    width: 30%;
    border-radius: 6px;
    align-items: center;
    // background-color: rgba(254, 205, 69, 0.25);
    background-color: rgba(0, 128, 0, 0.25);
    backdrop-filter: blur(10px);
    gap: 1vw;
    padding: 1vh;
    transition: all 0.3s;
    &:hover {
        background-color: rgba(0, 128, 0, 0.5);
    }
}

.category-title {
    font-size: calc(12px + 1vw);
}

@media screen and (max-width: 576px) {  
    .remove-item-button {
        width: auto;
    }

    .add-item-button{
        width: auto;
    }

    .category-title {
        font-size: calc(12px + 2vw);
    }

    .add-item-input {
        width: 20vw;
    }
  }

  @keyframes slide-from-left {
    0% {
        transform: translateX(-10vw);
    }

    100% {
        transform: translateX(0vw);
    }
  }