.recipeCardMain {
    width: 15vw;
    /* height: 22vw; */
    padding: 1vw;
    border-radius: 6px;
    background-color: cadetblue;
    box-shadow: 0px 2px 3px 0px;
    transition: box-shadow 0.5s;
}

.recipeCardMain:hover {
    box-shadow: 0px 2px 5px 2px;
}

.recipeCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}