.recipe-card-main {
    position: relative;
    animation-name: slide-in-left;
    animation-duration: 1s;
    // width: 15vw;
    /* height: 22vw; */
    padding: 1vw;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 0px grey;
    transition: box-shadow 0.5s, transform 0.5s;
    // z-index: 1;
    &:hover {
        box-shadow: 0px 2px 5px 2px grey;
        // transform: translateY(-10px);
    }
}

.remove-recipe-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FECD45;
    color: #2568FB;
    border-radius: 50%;
    border: none;
    width: auto;
    height: auto;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 2px 3px 0px grey;
    transition: all 0.3s;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 3px 0px grey;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 2px 3px 0px grey;
    }
}

.recipe-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.show-details-button {
    border: none;
    border-radius: 12px;
    background-color: #FECD45;
    color: #2568FB;
    font-size: 15px;
    cursor: pointer;
    width: auto;
    padding: 0.5vw;
    transition: all 0.3s;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 5px 3px 0px grey;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 2px 3px 0px grey;
    }
}

.recipe-name {
    font-size: 1.5rem;
}

.recipe-times {
    font-size: 1rem;
}

@media  screen and (max-width: 500px) {
    .recipe-name {
        font-size: 1rem;
    }

    .recipe-times {
        font-size: 0.75rem;
    }
}
@keyframes slide-in-left {
    0% {
        opacity: 0;
        // transform: translateX(100vw);
        transform: translateY(7px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        // transform: translateX(0vw);
    }
}